* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: var(--font-family);
    color: var(--white);
    
  }
  
  html {
    font-size: 62.5%;
    background-color: var(--black);
  }
  
  body {
    font-size: 16px;
    margin-top: 120px;
  }
  
  ul {
    list-style: none;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  h1 {
<<<<<<< HEAD
    font-size: 65px;
=======
    font-size: 70px;
>>>>>>> 44b8d026fe13535883ab9df9fb86a686f20b68d1
    font-weight: 700;
  }

  h2 {
<<<<<<< HEAD
    font-size: 40px;
=======
    font-size: 60px;
>>>>>>> 44b8d026fe13535883ab9df9fb86a686f20b68d1
    font-weight: 500;
    color: var(--dark-tertiary-color);
  }
  
  .secondary-title {
<<<<<<< HEAD
    font-size: 35px;
=======
    font-size: 40px;
>>>>>>> 44b8d026fe13535883ab9df9fb86a686f20b68d1
    font-weight: 700;
  }
  
  .tertiary-title {
<<<<<<< HEAD
    font-size: 25px;
    font-weight: 500;
    line-height: 72px;
  }

  .minimum-title {
    font-size: 25px;
    font-weight: 500;
=======
    font-size: 30px;
    font-weight: 500;
    line-height: 72px;
>>>>>>> 44b8d026fe13535883ab9df9fb86a686f20b68d1
  }
  
  p,
  .p {
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
  }
  
  p:not(:last-of-type),
  .p:not(:last-of-type) {
    margin-bottom: 32px;
  }
  
  .btn {
    background-color: none;
    border: none;
    outline: none;
    padding: 16px 64px;
    display: inline-block;
    border-radius: 8px;
  }
  
  .btn.btn-primary {
    background-color: var(--dark-tertiary-color);
    color: var(--white);
    font-weight: 400;
    font-size: 18px;
  }
  
  .max-width {
    width: 100%;
    max-width: 1280px;
    padding: 0 64px;
    margin: 0 auto;
<<<<<<< HEAD
    margin-bottom: 210px;
=======
    margin-bottom: 420px;
>>>>>>> 44b8d026fe13535883ab9df9fb86a686f20b68d1
  }
  
  .mb-0 {
    margin-bottom: 0;
  }
  
  .mb-s {
    margin-bottom: 16px;
  }
  
  .mb-m {
    margin-bottom: 32px;
  }
  
  .mb-l {
    margin-bottom: 64px;
  }
  
  .mb-xl {
    margin-bottom: 96px;
  }
  
  @media only screen and (max-width: 1024px) {
    html {
      font-size: 70%;
    }
  
  }
  
  @media only screen and (max-width: 728px) {
    html {
      font-size: 58%;
    }
  
    .max-width {
      padding: 0 32px;
    }

<<<<<<< HEAD
      h1 {
      font-size: 40px;
    }

      h2 {
      font-size: 28px;
    }

    .secondary-title {
      font-size: 28px;
=======
        h1 {
      font-size: 80px;
    }

    h2 {
      font-size: 48px;
    }

    .secondary-title {
      font-size: 40px;
>>>>>>> 44b8d026fe13535883ab9df9fb86a686f20b68d1
      font-weight: 700;
    }
    
    .tertiary-title {
      font-size: 24px;
      font-weight: 500;
      line-height: 72px;
    }
  }
  
  @media only screen and (max-width: 425px) {
    h1 {
<<<<<<< HEAD
      font-size: 40px;
=======
      font-size: 65px;
>>>>>>> 44b8d026fe13535883ab9df9fb86a686f20b68d1
    }
  }