:root {
    --white: #ffffff;
    --gray: #d9d9d9;
    --black: #050505;
    --primary-color: #15151f;
    --secondary-color: #101d2e;
    --dark-secondary-color: #3c415c;
    --tertiary-color: #bdbdbd;
    --light-tertiary-color: #f3f6fb;
    --dark-tertiary-color: #a70000;
    --text-color: #343d48;
  
    --font-family: 'Poppins', sans-serif;
  }