.about{
    display: flex;
    justify-content: space-between;
    gap: 56px;
    scroll-margin-top: 128px;
}

.about .about__left{
    max-width: 640rem;
    flex: 1;
}

.about .about__left p{
    margin: 16px 0 32px;
}

.about .about__left ul{
    margin-left: -19px;
}

.about .about__left ul li{
    display: inline-block;
}

.about .about__left ul li a{
    display: inline-block;
    padding: 14px;
}

.about .about__higth{
    flex: 1;
    max-width: 1056px;
}

.about .about__higth ul li{
    display: inline-block;
    padding: 20px 15px;
}

.about .about__higth ul li img{
    width: 35px;
}

@media only screen and (max-width: 728px){  
    .about{
        flex-direction: column-reverse;
        text-align: center;
    }

    .about .about__left{
        max-width: 1056px;
        text-align: center;
    }

    .about .about__left ul{
        margin-left: 0;
    }

    .about .about__higth{
        text-align: center;
    }
}