.about{
    display: flex;
    justify-content: space-between;
<<<<<<< HEAD
    gap: 56px;
    scroll-margin-top: 128px;
=======
    gap: 64px;
    scroll-margin-top: 160px;
>>>>>>> 44b8d026fe13535883ab9df9fb86a686f20b68d1
}

.about .about__left{
    max-width: 640rem;
    flex: 1;
}

.about .about__left p{
    margin: 16px 0 32px;
}

.about .about__left ul{
    margin-left: -19px;
}

.about .about__left ul li{
    display: inline-block;
}

.about .about__left ul li a{
    display: inline-block;
<<<<<<< HEAD
    padding: 14px;
=======
    padding: 16px;
>>>>>>> 44b8d026fe13535883ab9df9fb86a686f20b68d1
}

.about .about__higth{
    flex: 1;
    max-width: 1056px;
}

<<<<<<< HEAD
.about .about__higth ul li{
    display: inline-block;
    padding: 20px 15px;
}

.about .about__higth ul li img{
    width: 35px;
}

=======
>>>>>>> 44b8d026fe13535883ab9df9fb86a686f20b68d1
@media only screen and (max-width: 728px){  
    .about{
        flex-direction: column-reverse;
        text-align: center;
    }

    .about .about__left{
        max-width: 1056px;
        text-align: center;
    }

    .about .about__left ul{
        margin-left: 0;
    }

    .about .about__higth{
        text-align: center;
    }
}