footer .footer__content{
    text-align: center;
<<<<<<< HEAD
    padding: 0 16px 16px;
    max-width: 720px;
=======
    padding: 96px 16px 16px;
    max-width: 800px;
>>>>>>> 44b8d026fe13535883ab9df9fb86a686f20b68d1
}

footer .footer__content ul li{
    display: inline-block;
<<<<<<< HEAD
    padding: 16px 20px;
=======
    padding: 16px 64px;
>>>>>>> 44b8d026fe13535883ab9df9fb86a686f20b68d1
}

footer .footer__content .footer__contact span{
    display: block;
    font-weight: 500;
}

footer .footer__content ul a{
    display: inline-block;
<<<<<<< HEAD
    padding: 14px;
=======
    padding: 16px;
>>>>>>> 44b8d026fe13535883ab9df9fb86a686f20b68d1
}

footer .footer__content .footer__contact span{
    color: var(--dark-tertiary-color);
}

footer .footer__content .footer__contact li img{
    width: 40px;
    padding: 0 15px 0 0;
}

footer .footer__content .footer__copyright{
<<<<<<< HEAD
    font-size: 10px;
=======
    font-size: 22px;
>>>>>>> 44b8d026fe13535883ab9df9fb86a686f20b68d1
}