footer .footer__content{
    text-align: center;
    padding: 96px 16px 16px;
    max-width: 800px;
}

footer .footer__content ul li{
    display: inline-block;
    padding: 16px 64px;
}

footer .footer__content .footer__contact span{
    display: block;
    font-weight: 500;
}

footer .footer__content ul a{
    display: inline-block;
    padding: 16px;
}

footer .footer__content .footer__contact span{
    color: var(--dark-tertiary-color);
}

footer .footer__content .footer__copyright{
    font-size: 22px;
}