header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    scroll-margin-top: 160px;
}

header .header__left{
    max-width: 640px;
    flex: 1;
}

header .header__left p{
    margin-top: 32px;
    margin-bottom: 60px;
    max-width: 640px;   
}

header .header__hight .header__image{
    position: relative;
    line-height: 0;
    top: 12px;
}

header .header__hight .header__image::after{
    content: '';
    display: flexbox;
    width: 100%;
    height: 100%;
    border: 1px solid var(--tertiary-color);
    position: absolute;
    top: -24px;
    right: -24px;
    border-radius: 16px;
    z-index: -1;
}

header .header__hight .header__image .Vinicius{
    border-radius: 16px;
    min-width: 200px;
    max-width: 100%;
}

header .header__hight .header__image .background{
    position: relative;
    top: -64px;
    right: -40px;
    z-index: -1;
}

@media only screen and (max-width: 728px){ 
    
    header .header__hight .header__image::after{
        display: none;
    }

    header{
        flex-direction: column-reverse;
        text-align: center;
    }
    
    header .header__left p{
        margin: 32px auto 64px;
    }

    header .about__higth .header__image .Vinicius{
        border-radius: 10px;
    }

    header .header__hight .header__image{
        position: relative;
        top: 0;
        line-height: 0;
        min-width: 100px;
    }




}