.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    background-color: var(--black);
}

.navbar .navbar__content a{
    padding: 16px;
}

.navbar .navbar__content{
    padding: 24px 48px 18px;
    display: flex;
    justify-content: space-between;
}

.navbar .navbar__content .navbar__links li{
    display: inline-block;
}

.navbar .navbar__content .navbar__links li:not(:last-of-type){
    margin-right: 24px;
}

.navbar .navbar__content .navbar__links a{
    padding: 16px;
    display: inline-block;
    color: var(--white);
}

.navbar .navbar__content .navbar__links a:hover{
    color: var(--dark-tertiary-color);
    font-weight: 700;
    border-bottom: 2px solid var(--dark-tertiary-color);
}

.navbar.active{
    box-shadow: 0 3px 8px rgba(104, 54, 54, 0.459);
}

.navbar .navbar__content .navbar__mobile, .navbar .navbar__content .navbar__mobile .mobile__links{
  display: none;
}

@media only screen and (max-width: 728px) {   
    .navbar .navbar__content .navbar__links {
      display: none;
    }
  
    .navbar .navbar__content .navbar__mobile {
      display: flex;
      align-items: center;
    }
  
    .navbar .navbar__content .navbar__mobile img {
      width: 57px;
      height: 57px;
      cursor: pointer;
    }
  
    .navbar .navbar__content .navbar__mobile.active .mobile__links {
      display: flex;
      flex-direction: column;
      background-color: var(--dark-tertiary-color);
      width: 100%;
      position: absolute;
      top: 98%;
      left: 0;
      padding: 16px 0;
      box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
      z-index: 1;
    }
  
    .navbar .navbar__content .navbar__mobile.active .mobile__links li {
      margin-right: 0;
    }
  
    .navbar .navbar__content .navbar__mobile.active .mobile__links li a {
      padding: 16px;
      display: block;
      text-align: center;
    }
  }