.skills{
    scroll-margin-top: 128px;
}

.skills .skill__contents{
    padding: 0 60px;
    text-align: center;
}

.skills .skill__contents .description{
    max-width: 800px;
    margin: 24px auto 80px;
}

.skills .skill__contents ul{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 2fr));
    gap: 24px;
}

.skills .skill__contents ul li .image-container{
    background-color: var(--white);
    padding: 16px;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 16px 8px 16px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
}

.skills .skill__contents ul li h3{
    font-size: 25px;
    font-weight: 700;
    margin: 32px 0 16px;
    color: var(--dark-tertiary-color);
}