.skills{
    scroll-margin-top: 128px;
}

.skills .skill__contents{
    padding: 96px 64px;
    text-align: center;
}

.skills .skill__contents .description{
    max-width: 800px;
    margin: 24px auto 96px;
}

.skills .skill__contents ul{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 32px;
}

.skills .skill__contents ul li .image-container{
    background-color: var(--white);
    padding: 32px;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 16px 8px 16px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
}

.skills .skill__contents ul li h3{
    font-size: 40px;
    font-weight: 700;
    margin: 32px 0 16px;
    color: var(--dark-tertiary-color);
}